@charset "UTF-8";
/* CSS Document */

body {
	font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    color: rgb(34, 29, 29);
    background-color: #d4b9b9;
    background-image: url('../images/viktor-bystrov-mn7eTQFHNHc-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

h1 {
	font-family: Arial, Helvetica, sans-serif;
}


.hidden {
    display: none;
}

#container {
    margin: 20px auto;
    width: 428px;
    border: solid 1px #333;
    background: #efefef;
    background-image: url('../images/martin-sanchez-igSCxtyORzY-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    border-radius: 10px;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
    
}

#container2 {
    margin: 20px auto;
    width: 428px;
    border: solid 1px #333;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-style: 30px;
	font-style:normal;
	font-weight:normal;
    
}

#intro {
    text-align: center;
    font-family: 'Tangerine', sans-serif;
	font-style:normal;
	font-weight:normal;
}



#mainContent {
        display: grid;

        padding-left: 20px;
        padding-right: 20px;
}

#hero {
    grid-column: 1/-1;
    grid-row: 1/1;
    background: url(../images/pexels-pixabay-255483.jpg) no-repeat;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    height: 306px;
    width: 412px;
    
 }
 
 #hero-main {
    height: 220px;
    object-fit: cover;
 }
 
 #hero .grid-con {
   
    grid-column: 2/3;
  
    grid-row:1/1;
 
    margin: 0;
 }
 

article {
    grid-column: 1/-1;
    font-family: 'Roboto', sans-serif;
    font-style: 30px;
	font-style:normal;
	font-weight:normal;
}

img {
    margin-top: 20px;
    margin-bottom: 30px;
}

footer {
    text-align: center;
}

